<app-nav></app-nav>
<div style='margin-left:55px;'>
	<!-- To create custom theme -->
	<mat-card color='accent' aria-colcount="3">
		<div>
			Light
			<button mat-flat-button color="primary" (click)="onSetTheme('light1')">Light 1</button>
			<button mat-flat-button color="primary" (click)="onSetTheme('light2')">Light 2</button>
			<button mat-flat-button color="primary" (click)="onSetTheme('light3')">Light 3</button>
		</div>
		<div>
			Dark
			<button mat-flat-button color="primary" (click)="onSetTheme('dark1')">Dark 1</button>
			<button mat-flat-button color="primary" (click)="onSetTheme('dark2')">Dark 2</button>
			<button mat-flat-button color="primary" (click)="onSetTheme('dark3')">Dark 3</button>
		</div>
	</mat-card>
	<app-modal></app-modal>

	<!-- <span ngStyle="!(isHandset$ | async) ? 'margin-left:200px':''">
		<i class="material-icons">account_circle</i>
		<mat-icon>menu</mat-icon>
</span> -->


</div>
<router-outlet></router-outlet>
